<h1>Mi carrito</h1>

{{#if cart.products.length}}
  <ul>
    {{#each cart.products}}
      <li>
        <strong>{{this.product.title}}</strong><br>
        Precio: ${{this.product.price}}<br>
        Cantidad: {{this.quantity}}<br>
      </li>
    {{/each}}
  </ul>
  <a href="/">Seguir comprando</a>
{{else}}
  <p>El carrito está vacío. Vamos a llenarlo con productos!</p>
  <a href="/">Ver productos</a>
{{/if}}

<script src="/js/addToCart.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketClient.js"></script>
